{% extends 'blog/home.html' %}
{% load my_tag %}
{% block content %}

<div class="container">

    <div class="row text-center">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
                <div class="card-header">
                    <img class="rounded mx-auto d-block" src="{{ blog.photo | media_filter }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ blog.title }}</h1>
                    <h3 class="card-title pricing-card-title">Количество просмотров: {{ blog.views_counter }}</h3>
                    <p>Дата создания: {{ blog.created_at }}</p>
                    <p>Описание: {{ blog.content }}</p>
                    <p>Описание:
                        {% if blog.content  %}
                            Опубликовано
                         {% else %}
                             Не опубликовано
                        {% endif %}
                        </p>
                    <a class="btn btn-primary" href="{% url 'blog:blog_list' %}" role="button">Каталог статей</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}