{% extends 'catalog/base.html' %}
{% block content %}

<div class="album py-5 bg-body-tertiary">

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"> Выберите интересующую Вас категорию</h1>

</div>
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for category in category_list %}
            <div class="col-3">

            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header">
                    <h1 class="card-title pricing-card-title">{{ category.name }}</h1>
                </div>
                <div class="card-body">
                    <p>Описание: {{ category.description | truncatechars:100 }}</p>

                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'catalog:product_category' category.id %}">Перейти</a>
                </div>
            </div>

            </div>
            {% endfor %}
    </div>

</div>

</div>

</div>
{% endblock %}