{% extends 'catalog/base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1>{% if object %}
     Редактировать информацию о продукте
     {% else %}
     Новый продукт
     {% endif %}</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Выводим форму -->

        <button type="submit">
             {% if object %}
                 Сохранить
                 {% else %}
                 Добавить
                {% endif %}
        </button>
         <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
    </ul>
    </form>
</body>
</html>
{% endblock %}