{% extends 'catalog/base.html' %}
{% load my_tag %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
    <h1>Продукты в категории {{ object.name }}</h1>
        </div>
    <ul>
    {% if products_category %}
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products_category %}
            <div class="col-3">

            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header">
                    <h1 class="card-title pricing-card-title">{{ product.name }}</h1>
                   <img class="card-img-top" src="{{ product.photo_product | media_filter }}" alt="Card image cap">-->
                </div>
                <div class="card-body">
                    <p>Описание: {{ product.description | truncatechars:100 }}</p>
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Подробнее</a>
                     {% if product.owner == user %}
                    <a class="btn btn-primary" href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
                    <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}" role="button">Редактировать</a>
                    {% endif %}
                     <form action="{% url 'catalog:unpublish_product' product.pk %}" method="post">
                        {% csrf_token %}
                         <button class="btn btn-primary">Отмена публикации продукта</button>
                    </form>


                    {% endif %}
                </div>
            </div>

            </div>
            {% endfor %}
    </div>

    </div>

    {% else %}
            <li>Нет доступных продуктов в этой категории.</li>
        {% endif %}
    </ul>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'catalog:category_list' %}">Назад</a>
        </div>
</div>
{% endblock %}


